%h1 Listing contacts

%table
  %tr
    %th Street
    %th Unit
    %th City
    %th State
    %th Zip
    %th
    %th
    %th

  - @contacts.each do |contact|
    %tr
      %td= contact.street
      %td= contact.unit
      %td= contact.city
      %td= contact.state
      %td= contact.zip
      %td= link_to 'Show', contact
      %td= link_to 'Edit', edit_contact_path(contact)
      %td= link_to 'Destroy', contact, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Contact', new_contact_path
