%p#notice= notice

%p
  %b Street:
  = @contact.street
%p
  %b Unit:
  = @contact.unit
%p
  %b City:
  = @contact.city
%p
  %b State:
  = @contact.state
%p
  %b Zip:
  = @contact.zip

= link_to 'Edit', edit_contact_path(@contact)
\|
= link_to 'Back', contacts_path
