%p#notice= notice

%p
  %b Price:
  = @product.price
%p
  %b Name:
  = @product.name
%p
  %b Image url:
  = @product.image_url
%p
  %b Description:
  = @product.description

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
